<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Smo Web</title>
    <link rel="stylesheet" media="screen" th:href="@{css/style.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
</head>
<body>
<section>
    <!--    navigation-->
    <nav id="home">
        <!--        logo-->

        <div>
            <a href="#" class="logo">Smo Dev</a>
            <select id="locales">
                <option value="" th:text="#{lang}">Language</option>
                <option value="pl" th:text="#{lang.pl}">Polish</option>
                <option value="en" th:text="#{lang.en}">English</option>
            </select>
        </div>

        <!--        menu-->
        <ul>
            <li><a href="#home" class="active" th:text="#{menu.home}">Home</a></li>
            <li><a href="#about" th:text="#{menu.about}">About</a></li>
            <li><a href="#services" th:text="#{menu.services}">Services</a></li>
            <li><a href="#projects" th:text="#{menu.projects}">Projects</a></li>
            <li><a href="#contact-me" th:text="#{menu.contact}">Contact me</a></li>
        </ul>
        <div class="toggle">
        </div>
    </nav>
    <!--    text-->
    <div class="text-container">
        <h1 th:text="#{home.hello}">"Hello!"</h1>
        <span class="typed-text"></span><span class="cursor typing">&nbsp;</span>
    </div>
    <!--model-->
    <img src="images/photo.png" class="model" alt="model"/>
</section>
<!--about section-->
<div class="about-container" id="about">
    <div class="about-text">
        <p>About Me</p>
        <p>
            Web Developer
        </p>
        <p>
            Kilkumiesięczna praca jako programista języka Magik w branży telekomunikacyjnej
            przy tworzeniu rozwiązań geoptrzestennych opartych na GE Smallworld, pozwoliła mi rozwinąć szereg
            umiejętności,
            takich jak: analityczne myślenie, projektowanie algorytmów I ocenianie ich złożonośći oraz efektywności.
            Jestem również absolwentem kursu Coders Lab - Java Developer: Web. Programowanie jest moją pasją, w której
            dobrze się odnajduję.
        </p>
        <p>
            Jestem osobą, która posiada łatwość przyswajania wiedzy i z chęcią poszerza swoje
            horyzonty. W związku z tym poszukuję nowych wyzwań i możliwości rozwoju w zawodzie programisty. Co więcej -
            bardzo chciałbym brać
            czynny udział w realizowaniu projektów i wspierać cały zespół.
        </p>
        <p>
            Jako multimedalista i Mistrz Polski w lekkoatletyce wiem, jak ważna jest organizacja czasu, samodyscyplina w
            wykonywaniu zadań oraz ile czasu należy
            poświecić, aby osiągnąć wysoki poziom specjalizacji w danej dziedzinie.
        </p>
        <a href="pdf/CV-PL.pdf" target="_blank" type="application/pdf">
            <button>Download CV</button>
        </a>


    </div>
</div>
<!--services-->
<div class="services" id="services">
    <!--    text-->
    <div class="services-text">
        <p>Services</p>
        <p>What I Can Offer</p>
    </div>
    <!--    box-->
    <div class="services-container">
        <div class="service-box">

            <div class="service-icon">
                <i class="fas fa-brain"></i>
            </div>
            <div class="service-title">Behind the Scenes</div>
            <div class="service-desc">
                How things work, Logic & Data are the most interesting for me.
            </div>
        </div>

        <div class="service-box">

            <div class="service-icon">
                <i class="fas fa-code"></i>
            </div>
            <div class="service-title">Back End Development</div>
            <div class="service-desc">
                Depth knowledge of Java 8+ programming language, my favorite frameworks are Spring Boot/Spring 5,
                Hibernate 5.
            </div>
        </div>
        <div class="service-box">

            <div class="service-icon">
                <i class="fas fa-server"></i>
            </div>
            <div class="service-title">Container</div>
            <div class="service-desc">
                I'm learning how to take my apps to the next level with Docker.
            </div>
        </div>

        <div class="service-box">
            <div class="service-icon">
                <i class="fas fa-paint-brush"></i>
            </div>
            <div class="service-title">Web Development</div>
            <div class="service-desc">
                Fine understanding of front-end web technologies like HTML, CSS, JavaScript and Angular
            </div>
        </div>
        <div class="service-box">

            <div class="service-icon">
                <i class="fab fa-github"></i>
            </div>
            <div class="service-title">Control Version</div>
            <div class="service-desc">
                Experience with Git and SVN
            </div>
        </div>
        <div class="service-box">
            <div class="service-icon">
                <i class="fas fa-database"></i>
            </div>
            <div class="service-title">Databases</div>
            <div class="service-desc">
                Ability to manage a hosting environment, including database such as SQL/MySQl
            </div>
        </div>
    </div>

</div>
<!--projects-->
<div class="container" id="projects">
    <div class="pro-card">
        <div class="face face1">
            <div class="content">
                <h3>sorting algorithmic</h3>
                <ul class="social">
                    <li><a href="#"><i class="fa fa-github"></i>Github</a></li>
                    <li><a href="#"><i class="fa fa-smile"></i>Project</a></li>
                </ul>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p> Hypertext Markup Language (HTML) is the standard markup language
                    for documents designed to be displayed in a web browser.</p>
            </div>
        </div>
    </div>
    <div class="pro-card">
        <div class="face face1">
            <div class="content">
                <h3>e-commerce shop</h3>
                <ul class="social">
                    <li><a href="#"><i class="fa fa-github"></i>Github</a></li>
                    <li><a href="#"><i class="fa fa-smile"></i>Project</a></li>
                </ul>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p> Hypertext Markup Language (HTML) is the standard markup language
                    for documents designed to be displayed in a web browser.</p>
            </div>
        </div>
    </div>
    <div class="pro-card">
        <div class="face face1">
            <div class="content">
                <h3>JS</h3>
                <ul class="social">
                    <li><a href="#"><i class="fa fa-github"></i>Github</a></li>
                    <li><a href="#"><i class="fa fa-smile"></i>Project</a></li>
                </ul>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>
                    Hypertext Markup Language (HTML) is the standard markup language
                    for documents designed to be displayed in a web browser.
                </p>
            </div>
        </div>
    </div>
</div>
<!--contact me-->
<div class="contact-me" id="contact-me">
    <p>If you are interested in hiring me</p>
    <button class="send-email">Contact Me</button>
    <div class="contact-info">
        <div class="card">
            <i class="card-icon far fa-envelope"></i>
            <p>seba.smolinski@icloud.com</p>
        </div>
        <div class="card">
            <i class="card-icon fas fa-phone"></i>
            <p>+48 796 107 997</p>
        </div>
        <div class="card">
            <i class="card-icon fas fa-map-marker-alt"></i>
            <p>Warszawa - Ursynów</p>
        </div>
    </div>
</div>
<!--footer-->
<footer>
    <div class="social-icons">
        <a href="https://www.facebook.com/sebastian.smolinski.3" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/smolinski.sebastian/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/sebastiansmoliński/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/smolii" target="_blank"><i class="fab fa-github"></i></a>
    </div>
    <!--        copyright-->
    <p>Create by Sebastian Smoliński</p>
</footer>
<!--attached social bar-->
<div class="a-social-b">
    <a href="https://www.facebook.com/sebastian.smolinski.3" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.instagram.com/smolinski.sebastian/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/sebastiansmoliński/" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://github.com/smolii" target="_blank"><i class="fab fa-github"></i></a>
</div>
<!--scroll to top -->
<a href="#" class="to-top"><i class="fas fa-chevron-up"></i></a>
<!--sending email-->
<div class="sidebar-contact">
    <div class="toggle-c"></div>
    <h2>Contact Me</h2>
    <form action="#" th:action="@{__${T(com.smo.util.ContactMappings).HOME_PAGE}__}" th:object="${contact}"
          method="post">
        <input type="text" th:field="*{name}" placeholder="name">
        <input type="email" th:field="*{email}" placeholder="email">
        <input type="text" th:field="*{phoneNumber}" placeholder="phone number">
        <textarea placeholder="Message" th:field="*{message}"></textarea>
        <input id="confirmEmail" type="submit" value="Send">
    </form>
</div>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.toggle').click(function () {
            $('.toggle').toggleClass('active')
            $('nav').toggleClass('active')
        })
    })
    $(document).ready(function () {
        $('.toggle-c').click(function () {
            $('.toggle-c').toggleClass('active')
            $('.sidebar-contact').toggleClass('active')
        })
    })
    $(document).ready(function () {
        $('.send-email').click(function () {
            $('.toggle-c').toggleClass('active')
            $('.sidebar-contact').toggleClass('active')
        })
    })
    $(document).ready(function () {
        $("#locales").change(function () {
            let selectedOption = $('#locales').val();
            if (selectedOption !== '') {
                window.location.replace('?lang=' + selectedOption);
            }
        });
    });

    $(document).ready(function () {
        $("#confirmEmail").click(function () {
            swal("Good job!", "Thank you very much for sending me this message.\nI will answer it as soon as possible.", "success");
        })
    })


</script>
</body>
</html>