<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
    <script th:inline="javascript">
        /*<![CDATA[*/
        window.onload = function (e) {
            var dps = [];
            var chart = new CanvasJS.Chart("chartContainer", {
                theme: "light1", // "light1", "dark1", "dark2"
                animationEnabled: false,
                zoomEnabled: false,
                title: {
                    text: "Data to sort"
                },

                data: [{
                    type: "area",
                    dataPoints: dps
                }]
            });
            var dataPointsList = [[${dataList}]];
            count = 0;
            for (var i = 0; i < dataPointsList.length; i++) {
                var dataPoints = dataPointsList[i];
                for (var j = 0; j < dataPoints.length; j++) {
                    dps[count++] = {
                        x: dataPoints[j].x,
                        y: dataPoints[j].y
                    };
                }
            }
            chart.render();
        }
        /*]]>*/
    </script>
</head>
<body>
<div id="chartContainer" style="height: 370px; width: 100%;">
</div>
<button id="randomizeData">Randomize Data</button>
<button id="sortData">Bubble Sort</button>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>